.git/
.gitignore
.env
.env_example
.DS_Store
Thumbs.db
.idea/
.vscode/
*.md
yii.bat
Vagrantfile
.bowerrc
.htaccess
robots.txt
favicon.ico
view_icon.php
requirements.php
codeception.yml
vendor
composer.lock
DB
runtime_api
uploads
deploy.sh
.gitlab-ci.yml
docker-compose.yml
docker-compose-example.yml
__modul/db.txt
logs/
