DB_ADDR=mediaciptainformasi.co.id
DB_USER=postgres
DB_PASS=
DB_NAME=db_puskesmas
DB_PORT=5436

DB_ADDR=mediaciptainformasi.co.id
DB2_USER=postgres
DB2_PASS=
DB2_NAME=db_puskesmas
DB2_PORT=5436

RECAPTCHA2_SITEKEY=6Lfdhf0SAAAAALBYu2gB4p5A0wAxXYp6TfAf8EvJ
RECAPTCHA2_SECRET=6Lfdhf0SAAAAANxRrj1Y1xE1D_-4_Tfp1S0uuKWI

siteKeyV3=6LffvLAZAAAAANTtDZ3AueCl4qD86lG-9xof8RDk
secretV3=6LffvLAZAAAAAPRjHhSpxMaSNUfWYA7AxUKUJsTm

FS_S3_ENABLED=false
FS_S3_ENDPOINT=http://127.0.0.1:9000
FS_S3_KEY=minio_mci
FS_S3_SECRET='mci624:$'
FS_S3_BUCKET=puskesmas
FS_S3_REGION=us-east-1
FS_S3_PATH_STYLE=1

REDIS_ENABLED=
REDIS_HOST=
REDIS_PORT=
REDIS_DB=
REDIS_SESSION_NAME=
REDIS_SESSION_PREFIX=
REDIS_CACHE_PREFIX=

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=yosuaelwistio@gmail.com
MAIL_PASSWORD=cizyhbgqfwcwcryq
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=yosuaelwistio@gmail.com
MAIL_FROM_NAME="Puskesmas Notification"

PUSKESMAS_FRONTEND_URL=https://puskesmas-be.mediaciptainformasi.co.id


