# Jangan ubah file ini!
# Copy file ini ke .env
# File .env nya jangan di commit!


# Data untuk connect ke MariaDB
DB_ADDR=localhost
DB_USER=postgres
DB_PASS=
DB_NAME=web_content

DB2_ADDR=localhost
DB2_USER=postgres
DB2_PASS=
DB2_NAME=web_user



# Site Key & Secret untuk ReCaptcha3 agar dibuat di Google
siteKeyV3=6LffvLAZAAAAANTtDZ3AueCl4qD86lG-9xof8RDk
secretV3=6LffvLAZAAAAAPRjHhSpxMaSNUfWYA7AxUKUJsTm

RECAPTCHA2_SITEKEY=6Lfdhf0SAAAAALBYu2gB4p5A0wAxXYp6TfAf8EvJ
RECAPTCHA2_SECRET=6Lfdhf0SAAAAANxRrj1Y1xE1D_-4_Tfp1S0uuKWI

# URL frontend Next.js / EOC Dashboard
PUSKESMAS_FRONTEND_URL=http://localhost:3000

